<div class="row">
  <div class="col-md-12 text-center">
    <h1>Empleados</h1>
  </div>
</div>

<div class="row py-5 px-5">
  <div class="col-md-12 text-end">
    <button class="btn btn-primary" type="submit" (click)="CrearEmpelado()">Crear Empleado</button>
  </div>
  <br>
  <div class="col-md-12 text-end">
    <a class="btn btn-primary" type="submit" routerLink="/dependientes">Lista Dependientes</a>
  </div>
</div>

<div class="row py-5 px-5">
  <form [formGroup]="parentForm" (ngSubmit)="Buscar()" class="mt-4" style="display: flex">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre" class="form-control" >
    </div>

    <div class="mb-3">
      <label for="apellido" class="form-label">Apellido:</label>
      <input type="text" id="apellido" formControlName="apellido" class="form-control" >

    </div>

    <div class="mb-3">
      <label for="cod" class="form-label">Cod Empleado:</label>
      <input type="number" id="cod" formControlName="cod" class="form-control" >
      <div style="color: red" *ngIf="showError">
        Llene los 3 campos o deje vacio los 3 campos
      </div>
    </div>

    <div class="mb-3">
      <label  class="form-label">&nbsp;</label>
      <button type="submit" class="btn btn-primary form-control">Guardar</button>
    </div>

  </form>
</div>

<div class="row py-5 px-5">
  <div class="col-md-12 text-center">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">Codigo</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha Nacimiento</th>
        <th scope="col">Sueldo</th>
        <th scope="col">CodigoImpRenta</th>
        <th scope="col">Num dependientes</th>
        <th scope="col">Acciones</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of listaEmpleados">
        <th scope="row">{{item.codigoEmpleado}}</th>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.fechaNacimiento}}</td>
        <td>{{item.salarioFijo}}</td>
        <td>{{item.codigoImpuestoRenta}}</td>
        <td>{{item.numeroDependientes}}</td>
        <td>
          <div class="btn-group" role="group">
            <button class="btn btn-danger btn-sm me-2" (click)="Eliminarempleado(item.codigoEmpleado)" >
              Eliminar
            </button>
            <button class="btn btn-warning btn-sm me-2" (click)="EditarEmpleado(item.codigoEmpleado)">
              Editar
            </button>
            <button class="btn btn-primary btn-sm" (click)="VerDependientes(item.codigoEmpleado)">
              Dependientes
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #modalEditar let-c="close" let-d="dismiss" data-backdrop="static" data-keyboard="false">
  <app-ingreso-empleado (cerrarModalEvent)="CerrarModal()" [idEditar]="idEditar" ></app-ingreso-empleado>
</ng-template>

<ng-template #modalDependientes let-c="close" let-d="dismiss" data-backdrop="static" data-keyboard="false">
  <app-detalle-dependiente (cerrarModalEvent)="CerrarModal()" [listaDependientes]="listaD" ></app-detalle-dependiente>
</ng-template>
